.modal-mask {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 400;
  left: 0px;
  top: 0px;
  max-width: 100%;
}

.modal-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 600;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  width: 653px;
  display: flex;
  flex-direction: column;
  margin: auto;

  position: relative;
  padding: 34px;
  box-sizing: border-box;

  $border: 2px;
  color: #fff;
  background: #262b43;
  border: none;
  border-radius: 30.9518px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.modal-header-close {
  position: absolute;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  svg {
    width: 12px;
    height: 12px;
  }
}

.modal-view-title {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.modal-select-wallet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 0px 20px;

  .modal-choose-wallet-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 51px;
    margin-bottom: 50px;

    @media screen and (max-width: 768px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .wallet-choose-item {
    cursor: pointer;
    height: 100px;
    border-radius: 30.9518px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #313650;
    margin-top: 32px;
    border: 2px solid transparent;

    @media screen and (max-width: 768px) {
      padding: 0px 16px;
    }

    &:hover {
      border: 2px solid #B6B2EF;
    }

    img {
      margin-right: 12px;
      margin-left: 139px;

      @media screen and (max-width: 768px) {
        margin-left: 0px;
      }
    }

    .wallet-choose-item-text {
      display: flex;
      flex-direction: column;
    }

    .wallet-choose-item-name {
      font-weight: 700;
      font-size: 26px;
      line-height: 31px;

      @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 21px;
      }
    }

    .wallet-choose-item-sub {
      font-weight: normal;
      font-size: 14px;
      line-height: 100%;
      padding-top: 4px;

       @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
}
