.subscribe-form-container {
  width: 100%;
  max-width: 660px;
  min-height: 660px;
  height: fit-content;
  background: url('/assets/newsletter.png');
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
    max-width: 100%;
    min-height: 0px;
  }

  .join {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
      font-size: 11px;
      font-size: 16px;
    }
  }

  .cc {
    font-family: $font-ruso;
    font-weight: 400;
    font-size: 53px;

    @media screen and (max-width: 768px) {
      font-size: 40px;
    }
  }

  .weekly {
    font-family: $font-ruso;
    font-weight: 400;
    font-size: 44.722px;
    color: #5252ff;

    @media screen and (max-width: 768px) {
      font-size: 33px;
    }
  }

  .content {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    max-width: 524px;
    text-align: center;
    margin-top: 50px;

    @media screen and (max-width: 768px) {
      font-size: 11px;
      line-height: 14px;
      margin-top: 16px;
    }
  }

  .email-box {
    background: #0f0f0f;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 100%;
    max-width: 568px;
    height: 63px;
    display: flex;
    margin-top: 50px;

    @media screen and (max-width: 768px) {
      height: 34px;
      margin: 17px 26px 0px;
      max-width: 290px;
    }

    &-input {
      height: 100%;
      flex: 1;
      border: none;
      outline: none;
      background: transparent;
      color: #fff;
      font-weight: 400;
      font-size: 16px;
      padding-left: 30px;

      @media screen and (max-width: 768px) {
        font-size: 11px;
        padding-left: 15px;
      }
    }

    .submit {
      padding: 0px 45px;
      height: 100%;
      cursor: pointer;
      background: #ffffff;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border: none;
      outline: none;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 16px;

      @media screen and (max-width: 768px) {
        font-size: 11px;
        padding: 0px 15px;
      }
    }
  }
}
