.container {
  border-radius: 8px;
  height: 46px;
  padding: 0px 18px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;

  &.fullWidth {
    width: 100%;
  }

  &.primary {
    background: #8abd1f;
    color: #272828;
  }

  &.secondary {
    background: #f8f9fb;
    color: #303030;
  }

  &.dark {
    background: #272828;
    color: #f1f2f0;
  }

  &.text {
    background: transparent;
  }

  &.link {
    background: transparent;
    font-size: 15px;
    line-height: 22px;
    color: #babbbb;
    height: fit-content;
  }

  &:disabled {
    background: #565656;
    cursor: not-allowed;
  }
}
