.container {
  width: 100%;
  max-width: 843px;
  padding: 100px 113px;
  background: #303030;
  margin: 85px auto 0px;

  @media screen and (max-width: 768px) {
    width: calc(100% - 32px);
    padding: 32px 16px;
    margin: 20px auto 0px;
  }

  .submit {
    margin-top: 43px;

    @media screen and (max-width: 768px) {
      margin-top: 21px;
    }
  }
}
