.container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  padding: 64px 0px;

  .section {
    display: flex;
    flex-flow: row wrap;
    gap: 80px;
    width: 100%;
  }

  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: var(--font-footer);
    color: #fff;
  }

  .logoWrapper {
    max-width: 247px;

    .logo {
      height: 21px;
    }
  }

  .menuWrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 80px;

    .menuLink {
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      font-family: var(--font-footer);
      margin-bottom: 24px;
    }

    .subMenuLink {
      color: #fff;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      font-family: var(--font-footer);
      margin-bottom: 12px;
    }
  }
}
