.container {
  max-width: var(--max-container-width);
  height: calc(100vh - var(--header-height));
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  background-image: url('/assets/shield.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .sub {
    font-family: var(--font-headings);
    color: var(--text-slate-1);
    font-size: 20px;
    line-height: 60px;
    font-weight: 500;
  }

  .title {
    font-size: 52px;
    line-height: 60px;
    font-weight: bold;
    max-width: 640px;
  }

  .description {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    max-width: 640px;
    margin-top: 24px;
  }
}

.join {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
}
