.container {
  padding: 12px 0px;
  flex: 1;
  color: #f1f1ef;

  &.border {
    border: 2px solid #8abd1f;
    border-radius: 16px;
  }

  &.header {
    max-width: 277px;
    flex: auto;
  }

  .company {
    background: #222323;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      width: 50%;
    }
  }

  .service {
    height: 70px;
    font-family: var(--font-headings);
    font-weight: 600;
    font-size: 14px;
    font-weight: 18px;
    display: flex;
    align-items: center;
    padding: 0px 24px;
    background: #323333;
    display: flex;
    align-items: center;

    &.center {
      justify-content: center;
    }

    &.odd {
      background: #3a3a3a;
    }

    .checkImg {
      height: 30px;
    }
  }
}
