@import '_font.scss';

:root {
  --bg-slate-0: #272828;
  --text-slate-0: #babbbb;
  --text-slate-1: #f1f2f0;

  --font-text: 'Exo';
  --font-headings: 'Benzin';
  --font-footer: 'Inter';

  --desktop-header-height: 86px;
  --mobile-header-height: 56px;
  --max-container-width: 1440px;
}

body {
  background-color: var(--bg-slate-0);
  color: var(--text-slate-0);
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  font-family: var(--font-text);
}

body * {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-slate-1);
  font-family: var(--font-headings);
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}
