@import "libraries/global";

@import "components";
@import "pages";

@import "layout";

body {
  background-color: $main_bg_color;
  color: $main_text_color;
  font-family: $font-regular;
  overflow-x: hidden;
}

body * {
  box-sizing: border-box;
}

.page-container {
  padding: 30px 0px;
  width: 100vw;
  max-width: 100%;

  @media screen and (max-width: 768px) {
    padding: 30px 0px;
  }
}

a {
  text-decoration: none;
}

.full-width {
  width: 100%;
}

.ml-2 {
  margin-left: 20px;
}

h1 {
  font-size: 60px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 25px;
  }
}

h2 {
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;

  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}

h3 {
  font-weight: 700;
  font-size: 26px;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    line-height: 20px;
  }
}