.about-page-container {
  width: 100%;

  .about-page-top {
    width: 100%;
    max-width: $home-panel-width;
    margin: 0px auto;

    @media screen and (max-width: 1200px) {
      max-width: 100%;
      padding: 0px 24px;
    }

    @media screen and (max-width: 768px) {
      max-width: 100%;
      padding: 0px 24px;
      flex-direction: column;
      height: auto;
      margin: 120px auto;
    }

    height: 648px;
    display: flex;
    align-items: center;

    .top-logo-wrapper {
      flex: 1;
      padding-right: 64px;
      display: flex;
      justify-content: flex-end;

      @media screen and (max-width: 768px) {
        justify-content: flex-start;
        padding-right: 0px;
      }
    }

    .top-content {
      flex: 1;
      padding-left: 64px;

      @media screen and (max-width: 768px) {
        padding-left: 0px;
      }

      &-title {
        font-weight: 700;
        font-size: 30px;
        line-height: 43px;
        max-width: 370px;
        text-transform: capitalize;

        @media screen and (max-width: 768px) {
          font-size: 20px;
          line-height: 30px;
          text-align: center;
          max-width: 100%;
        }
      }

      &-description {
        @media screen and (max-width: 768px) {
          text-align: center;
          margin-top: 8px;
        }
      }

      .launch-link {
        background: #ffffff;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        max-width: 275px;
        width: 100%;
        height: 50px;
        color: $main-bg-color;
        margin-top: 22px;

        @media screen and (max-width: 768px) {
          width: fit-content;
          padding: 0px 15px;
          height: 35px;
          margin: 22px auto 0px;
          font-size: 11px;
        }
      }
    }

    .top-logo {
      height: 102px;

      @media screen and (max-width: 768px) {
        height: 80px;
      }

      &.ccc {
        height: 353px;

        @media screen and (max-width: 768px) {
          height: 200px;
        }
      }
    }

    .top-divider {
      height: 184px;
      width: 1px;
      background: #444;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  .service-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $home-panel-width;
    margin: 0px auto 172px;

    @media screen and (max-width: 1200px) {
      max-width: 100%;
      padding: 0px 24px;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      max-width: 100%;
      margin: 0px auto 120px;
      padding: 0px 24px;
    }

    .service-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32%;
      background: #151515;
      border-radius: 5px;
      padding: 0px 50px;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      text-transform: capitalize;
      height: 178px;

      @media screen and (max-width: 768px) {
        width: 100%;
        margin-bottom: 12px;
        padding: 30px;
        height: 128px;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .ccc-history {
    width: 100%;
    max-width: $home-panel-width;
    margin: 0px auto;

    @media screen and (max-width: 1200px) {
      max-width: 100%;
      padding: 0px 24px;
    }

    @media screen and (max-width: 768px) {
      max-width: 100%;
      margin: 0px auto 120px;
      padding: 0px 24px;
    }

    &-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        font-size: 14px;
        list-style: 18px;
      }
    }

    &-left {
      width: 48%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    &-right {
      width: 48%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }

  .ccc-pillars {
    width: 100%;
    max-width: $home-panel-width;
    margin: 240px auto 240px;
    max-width: $home-panel-width;

    @media screen and (max-width: 1200px) {
      max-width: 100%;
      padding: 0px 24px;
    }

    @media screen and (max-width: 768px) {
      max-width: 100%;
      margin: 0px auto 120px;
      padding: 0px 24px;
    }

    &-title {
      text-align: center;
    }

    &-wrapper {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      margin-top: 120px;

      @media screen and (max-width: 768px) {
        margin-top: 70px;
      }
    }
  }

  .service-connection {
    display: flex;
    width: 100%;
    max-width: $home-panel-width;
    margin: 0px auto 135px;
    height: 316px;
    border-radius: 5px;
    
    background-repeat: no-repeat;

    @media screen and (max-width: 768px) {
      max-width: calc(100% - 48px);
      margin: 0px 24px 120px;
      flex-direction: column;
      height: fit-content;

      background-size: cover;
      background-image: none !important;
    }

    &-left {
      flex: 1;

      @media screen and (max-width: 768px) {
        height: 200px;

        img {
          width: 100%;
        }
      }
    }

    &-right {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media screen and (max-width: 768px) {
        height: 200px;
        padding: 30px;
      }

      .service-title {
        font-weight: 700;
        font-size: 30px;
        line-height: 43px;
        text-transform: capitalize;
        max-width: 388px;

        @media screen and (max-width: 768px) {
          font-size: 20px;
          line-height: 28px;
        }
      }

      .service-link {
        width: 275px;
        height: 50.23px;
        background: #b3afec;
        border-radius: 5px;
        font-weight: 700;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-transform: uppercase;
        margin-top: 28px;

        @media screen and (max-width: 768px) {
          margin-top: 15px;
          width: 175px;
          height: 35px;
          font-size: 11px;
        }
      }
    }
  }
}
