.blog-page-container {
  width: 100%;

  .blog-page-top {
    width: 100%;
    height: 353px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: $main_bg_color;
    background-image: url("/assets/blog/bg2.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;

    @media screen and (max-width: 768px) {
      height: 150px;
    }

    &-title {
      text-align: left;
      max-width: $blog-panel-width;
      margin: 0px auto;
      width: 100%;

      @media screen and (max-width: 1200px) {
        max-width: 100%;
        padding: 0px 24px;
      }

      @media screen and (max-width: 768px) {
        max-width: 100%;
        padding: 0px 24px;
        text-align: center;
      }
    }
  }

  .blog-latest-wrapper {
    width: 100%;
    max-width: $blog-panel-width;
    margin: 100px auto;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 768px) {
      margin: 50px auto;
      max-width: 100%;
      padding: 0px 24px;
    }

    .blog-latest-item {
      margin-bottom: 63px;
      width: 100%;
      display: flex;

      @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
      }

      &-left {
        flex: 1;
        margin-right: 57px;

        @media screen and (max-width: 768px) {
          margin-right: 0px;
          margin-top: 15px;
        }
      }

      &-right {
        flex: 1;
        margin-left: 57px;
        height: 300px;
        display: flex;
        align-items: center;
        background: url("/assets/blog/bg.png");
        background-repeat: no-repeat;
        background-position: 200% center;
        background-size: auto 130%;

        @media screen and (max-width: 768px) {
          margin-left: 0px;
        }
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 40px;
      }
    }

    .blog-latest-date {
      color: #b1b1b1;
      font-weight: 400;
      font-size: 14px;

      @media screen and (max-width: 768px) {
        font-size: 11px;
      }
    }

    .blog-latest-title {
      font-weight: 600;
      font-size: 36px;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        font-size: 20px;
        margin: 10px auto;
      }
    }

    .blog-latest-image {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    .blog-latest-intro {
      color: #b1b1b1;
      font-weight: 400;
      font-size: 14px;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;

      @media screen and (max-width: 768px) {
        font-size: 11px;
      }
    }

    .blog-latest-readmore {
      border: 1px solid #ffffff;
      border-radius: 5px;
      color: #ffffff;
      width: 174px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 23px;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        width: 124px;
        height: 35px;
        font-size: 11px;
        margin-top: 15px;
      }
    }
  }

  .blog-post-title-bg {
    width: 100%;
    height: 494px;
    background: #0f0f0f;
    background-image: url("/assets/blog/bg2.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
      padding: 15px 24px;
      height: 300px;
    }

    .blog-post-title-wrapper {
      width: 100%;
      height: 100%;
      background: $main_bg_color;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 768px) {
        background: transparent;
      }
    }

    .blog-title {
      display: block;
      max-width: $blog-panel-width;
    }
  }

  .blog-post-view {
    width: 100%;
    max-width: 1000px;
    margin: 30px auto 70px;

    @media screen and (max-width: 768px) {
      max-width: 100%;
      padding: 0px 24px;
    }

    .blog-pubtime {
      color: #b1b1b1;
      font-size: 18px;
      margin-bottom: 15px;
    }

    .blog-featured-image {
      width: 100%;
      border-radius: 15px;
      border: 2px solid #2c2c2c;
      margin-top: 18px;
    }

    .blog-divider {
      width: 129px;
      height: 3px;
      background: #2c2c2c;
      margin: 51px 0px;
    }

    .blog-intro {
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
    }

    .blog-post {
      width: 100%;

      h1,
      h2,
      h3,
      h4 {
        text-align: left;
      }

      h1 {
        font-size: 22px;
        font-weight: 500;
        padding: 4px 0px;
      }

      p {
        font-size: 18px;
        font-weight: 400;
      }

      @media screen and (max-width: 425px) {
        padding: 20px 0px;
      }
      a {
        color: $main_text_color;
        text-decoration: underline;
      }
    }

    .embed-responsive {
      display: block;
      overflow: hidden;
      padding: 0;
      position: relative;
      width: 100%;
    }

    .embed-responsive-16by9:before {
      padding-top: 56.25%;
    }

    .embed-responsive:before {
      content: "";
      display: block;
    }

    .embed-responsive .embed-responsive-item,
    .embed-responsive embed,
    .embed-responsive iframe,
    .embed-responsive object,
    .embed-responsive video {
      border: 0;
      bottom: 0;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
