.home-page-container {
  width: 100%;

  .home-top {
    width: 100%;
    min-height: calc(100vh - $header);
    background: url("/assets/vectors/home-1.png");
    background-repeat: no-repeat;
    background-position: left center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    @media screen and (max-width: 768px) {
      background: none;
      padding: 150px 47px;
      min-height: 0px;
    }

    &-text {
      max-width: 670px;

      @media screen and (max-width: 768px) {
        max-width: 100%;
      }
    }

    &-description {
      font-size: 18px;
      line-height: 26px;
      text-align: center;

      @media screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 20px;
      }
    }

    &-images {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      padding: 20px;

      img {
        height: 65px;
        margin: 0px 25px;

        @media screen and (max-width: 768px) {
          height: 27px;
        }

        &.ccc {
          height: 91px;

          @media screen and (max-width: 768px) {
            height: 53px;
          }
        }
      }
    }
  }

  .home-software-developers {
    width: 100%;
    max-width: $home-panel-width;
    margin: 0px auto 148px;

    @media screen and (max-width: 1200px) {
      max-width: 100%;
      padding: 0px 24px;
    }

    @media screen and (max-width: 768px) {
      max-width: 100%;
      padding: 0px 24px;
    }

    p {
      max-width: 479px;
      width: 100%;
    }

    .home-products {
      max-width: 757px;
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, 0.22);
      margin-top: 65px;
    }
  }

  .home-value-propositions {
    width: 100%;
    margin: 240px auto 0px;
    max-width: $home-panel-width;

    @media screen and (max-width: 1200px) {
      max-width: 100%;
      padding: 0px 24px;
    }

    @media screen and (max-width: 768px) {
      max-width: 100%;
      padding: 0px 24px;
      margin: 100px auto 0px;
    }

    &-title {
      text-align: center;

      @media screen and (max-width: 768px) {
        text-align: left;
      }
    }

    .home-propositions-wrapper {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-top: 120px;

      @media screen and (max-width: 768px) {
        margin-top: 70px;
        flex-direction: column;
      }
    }
  }

  .home-reviewers {
    width: 100%;
    margin: 240px auto 0px;
    max-width: $home-panel-width;

    @media screen and (max-width: 768px) {
      max-width: 100%;
      padding: 0px 24px;
      margin: 100px auto 0px;
    }
  }
}

.home-product-container {
  padding: 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.22);
  display: flex;
  flex-direction: column;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    padding: 42px 0px;
  }

  &:hover {
    .home-product-description {
      display: flex;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
    }
  }

  .home-product-content {
    display: flex;
    align-items: center;
  }

  .home-product-description {
    margin-top: 37px;
    display: none;

    &-left {
      flex: 1;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      margin-right: 24px;
      color: #b1b1b1;
    }

    &-right {
      flex: 1;
      display: flex;
      flex-direction: column;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      text-transform: capitalize;
      color: #b1b1b1;

      @media screen and (max-width: 768px) {
        margin-top: 15px;
      }

      .home-product-link {
        background: #4BFFA9;
        border-radius: 5px;
        text-transform: uppercase;
        color: #0f0f0f;
        font-weight: 500;
        font-size: 14;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 275px;
        max-width: 100%;
        height: 50px;
        margin-top: 7px;
      }
    }
  }

  .home-product-info {
    .home-product-for {
      width: fit-content;
      height: 19px;
      text-transform: uppercase;
      background: #5252ff;
      border-radius: 3px;
      font-weight: 600;
      font-size: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 7px;
    }

    .home-product-category {
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
      margin-top: 10px;
      text-transform: capitalize;
    }

    .home-product-title {
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      max-width: 150px;
      text-transform: capitalize;
    }
  }

  .home-product-img {
    margin-left: 85px;
    height: 50px;

    @media screen and (max-width: 768px) {
      height: 45px;
      margin-left: 31px;
    }
  }
}

.value-proposition-container {
  width: calc(50% - 12px);
  display: flex;
  align-items: center;
  padding: 67px 23px;
  background: #151515;
  border-radius: 5px;
  margin-bottom: 24px;

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 36px 23px;
    margin-bottom: 12px;
  }

  .value-proposition-image {
    flex: 2;
    display: flex;
    justify-content: center;

    img {
      width: 50%;
    }
  }

  .value-proposition-content {
    flex: 3;
    display: flex;
    flex-direction: column;

    .value-proposition-category {
      font-weight: 400;
      font-size: 16px;
      text-transform: uppercase;
      color: #878787;

      @media screen and (max-width: 768px) {
        font-size: 10px;
      }
    }

    .value-proposition-title {
      font-weight: 700;
      font-size: 20px;
      text-transform: capitalize;

      @media screen and (max-width: 768px) {
        font-size: 16px;
        margin-top: 3px;
      }
    }

    .value-proposition-description {
      font-weight: 400;
      font-size: 16px;
      padding-top: 30px;
      max-width: 250px;

      @media screen and (max-width: 768px) {
        font-size: 11px;
        padding-top: 15px;
      }
    }
  }
}

.review-container {
  background: #151515;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  width: 100%;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 0px 30px;
  }

  .reviewer-photo {
    background: url("/assets/review/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
    max-height: 319px;

    @media screen and (max-width: 768px) {
      background-size: 90%;
      background-position: center center;
      padding: 60px;
    }

    img {
      height: 200px;

      @media screen and (max-width: 768px) {
        height: 99px;
      }
    }
  }

  .reviewer-info {
    flex: 1;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media screen and (max-width: 768px) {
      padding: 0px 0px 50px;
      align-items: center;
    }

    &-comment {
      font-weight: 700;
      font-size: 20px;

      @media screen and (max-width: 768px) {
        font-size: 14px;
        text-align: center;
      }
    }

    &-name {
      font-weight: 400;
      font-size: 18px;
      padding-top: 15px;

      @media screen and (max-width: 768px) {
        font-size: 14px;
        padding-top: 8px;
      }
    }

    &-title {
      font-weight: 400;
      font-size: 18px;
      padding-top: 5px;

      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }

    &-logo {
      height: 32px;
      padding-top: 5px;

      @media screen and (max-width: 768px) {
        height: 22px;
      }
    }
  }
}

.newsletter-form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 240px;

  @media screen and (max-width: 768px) {
    margin-bottom: 120px;
    padding: 0px 24px;
  }
}

.volume-investors {
  width: 100%;
  margin: 240px auto;

  @media screen and (max-width: 768px) {
    margin: 120px auto;
  }

  &-title {
    text-align: center;
    margin-bottom: 70px;
  }

  .volume-investor-logo {
    height: 130px;
    margin: 19px;

    @media screen and (max-width: 768px) {
      height: 80px;
    }
  }
}