// Main colors
$main_bg_color: #0f0f0f;
$main_text_color: #fff;

$button_bg_color: #f66;
$hightlighted_color: #f66;
$border_color: #f66;

// Font
$font-regular: 'Spline Sans', sans-serif;
$font-bold: 'Spline Sans';

$font-ruso: 'Russo One', sans-serif;

// Size
$header: 100px;
$home-panel-width: 1044px;
$blog-panel-width: 1075px;
$team-panel-width: 1100px;